----Necessary setup of GStreamer for Visual Studio before compiling codes.----

1- Add necessary include directories to your project.

=> Solution Explorer -> Properties -> C/C++ -> General -> Additional Include Directories -> C:\1.0\mingw_x86_64\lib\glib-2.0\include;C:\1.0\mingw_x86_64\include\gstreamer-1.0;C:\1.0\mingw_x86_64\include\glib-2.0\;C:\1.0\mingw_x86_64\include\glib-2.0\glib;C:\1.0\mingw_x86_64\lib;C:\1.0\mingw_x86_64\include;%(AdditionalIncludeDirectories)

2. Add necessary additional library directories which is shown below.

=> Solution Explorer -> Properties -> Linker -> General -> Additional Library Directories -> C:\1.0\mingw_x86_64\lib;%(AdditionalLibraryDirectories)

3. Add additional dependencies to your project which is shown below.

=> Solution Explorer -> Properties -> Linker -> Input -> Additional Dependencies -> $(CoreLibraryDependencies); gobject-2.0.lib; glib-2.0.lib;gstreamer-1.0.lib;kernel32.lib;user32.lib;gdi32.lib;winspool.lib;comdlg32.lib;advapi32.lib;shell32.lib;ole32.lib;oleaut32.lib;uuid.lib;odbc32.lib;odbccp32.lib;%(AdditionalDependencies)
